doctype html
html
  head
    meta(name='viewport' content='initial-scale=1')
    title
    link(rel='stylesheet' type='text/css' href='./css/style.css')
    script(data-main="./js/start.js" src='./js/requirejs.min.js')
  body
    div#main

